<template>
    <div>
        <div id="modal-expense" class="modal">
            <form @submit.prevent="submit">
                <div class="modal-content">
                    <h4>{{ editExpense.name }}</h4>
                    <div class="row">
                        <div class="col s12">
                            <input-field name="name" type="text" label="Nom" v-model="editExpense.name" :error="editExpenseErrors.name"></input-field>
                        </div>
                        <div class="col s12">
                            <input-field name="amount" type="number" label="Montant" step="0.05" v-model="editExpense.amount" :error="editExpenseErrors.amount"></input-field>
                        </div>
                        <div class="col s12">
                            <input-field name="date" type="text" label="Date" v-model="editExpense.date_formated" :error="editExpenseErrors.date"></input-field>
                        </div>
                        <div class="col s12">
                            <input-field name="user_id" type="select" label="Payé par" :options="users" v-model="editExpense.user_id" :error="editExpenseErrors.user_id"></input-field>
                        </div>
                        <div class="col s12">
                            <p v-for="(user, key) in editExpense.users" class="range-field">
                                <label>{{ user.name }} ({{ user._joinData.percentage }}%)</label>
                                <input type="range" :id="`user-${user.id}`" min="0" max="100" v-model="user._joinData.percentage" @input="updateRange(key)"/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-close waves-effect waves-red btn-flat" type="button">Annuler</button>
                    <button class="waves-effect btn" type="submit" :disabled="submitLoading">Sauvegarder</button>
                    <button v-if="editExpense.id" class="modal-close waves-effect waves-red btn-flat left red-text" type="button" @click.prevent="deleteExpense(editExpense.id)"><i class="material-icons">delete</i></button>
                </div>
            </form>
        </div>

        <div v-if="loading" class="col s12 center mt-40">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!loading" class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Objet</th>
                        <th>Payé par</th>
                        <th>Répartition</th>
                        <th class="right">Montant</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="expense in expenses" :key="expense.id" class="pointer" @click.prevent="openExpense(expense.id)">
                        <td>{{ expense.date_display }}</td>
                        <td>{{ expense.name }}</td>
                        <td>{{ expense.payer.name }}</td>
                        <td>
                            <div v-for="user in expense.users" :key="user.id" v-if="user._joinData.percentage > 0">{{ user.name }}: {{ user._joinData.percentage }}%</div>
                        </td>
                        <td class="right">{{ expense.amount_display }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large" @click.prevent="openExpense()">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from '@/components/InputField';

    export default {
        name: 'index',
        components: {InputField},
        data() {
            return {
                loading: true,
                expenses: [],
                editExpense: {},
                editExpenseErrors: {},
                submitLoading: false,
                modalExpense: undefined
            };
        },
        computed: {
            users() {
                let users = {};
                for (let user of this.$store.getters.users) {
                    users[user.id] = user.name;
                }

                return users;
            }
        },
        methods: {
            openExpense(id = null) {
                this.editExpenseErrors = {};
                this.editExpense = {
                    users: []
                };
                if (id) {
                    let expense = JSON.parse(JSON.stringify(this.expenses.find(e => e.id === id)));
                    if (expense !== undefined) {
                        this.editExpense = expense;
                        for (let user of this.$store.getters.users) {
                            if (!this.editExpense.users.find(u => u.id === user.id)) {
                                let u = {...user};
                                this.$set(u, '_joinData', {});
                                this.$set(u._joinData, 'percentage', 0);
                                this.editExpense.users.push(u);
                            }
                        }
                    }
                } else {
                    for (let user of this.$store.getters.users) {
                        let u = {...user};
                        this.$set(u, '_joinData', {});
                        this.$set(u._joinData, 'percentage', 0);
                        this.editExpense.users.push(u);
                    }
                }
                this.modalExpense.open();
            },
            submit() {
                this.submitLoading = true;
                if (this.editExpense.id !== undefined) {
                    this.$api.patch(`expenses/${this.editExpense.id}.json`, this.editExpense).then(this.submitSuccess).catch(this.submitError);
                } else {
                    this.$api.post(`expenses.json`, this.editExpense).then(this.submitSuccess).catch(this.submitError);
                }
            },
            submitSuccess(response) {
                this.submitLoading = false;
                if (!response.data.error) {
                    this.modalExpense.close();
                    this.getExpenses();
                    this.$store.dispatch('updateUsers');
                } else {
                    if (response.data.message) {
                        this.$event.$emit('notification', response.data.message, 'error');
                    }
                    if (response.data.errors) {
                        this.editExpenseErrors = response.data.errors;
                    } else {
                        this.editExpenseErrors = {};
                    }
                }
            },
            submitError(err) {
                this.$event.$emit('notification', err.toString(), 'error');
                this.submitLoading = false;
            },
            getExpenses() {
                this.$api.get('expenses.json').then((response) => {
                    if (!response.data.error) {
                        this.expenses = response.data.expenses;
                        this.loading = false;
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                });
            },
            updateRange(key) {
                let count = 0;
                let totalPercentage = 0;
                for (let k in this.editExpense.users) {
                    if (k > key) {
                        this.editExpense.users[k]._joinData.percentage = (100 - totalPercentage) / (this.editExpense.users.length - count);
                    } else {
                        count++;
                        totalPercentage += parseFloat(this.editExpense.users[k]._joinData.percentage);
                        if (totalPercentage > 100) {
                            this.editExpense.users[k]._joinData.percentage -= totalPercentage - 100;
                            totalPercentage = 100;
                        }
                    }
                }
            },
            deleteExpense(id) {
                this.$api.delete(`expenses/${id}.json`).then((response) => {
                    if (!response.data.error) {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message);
                        }
                        this.$store.dispatch('updateUsers');
                        this.getExpenses();
                        this.modalExpense.close();
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                });
            }
        },
        created() {
            this.getExpenses();
        },
        mounted() {
            M.Modal.init(document.querySelectorAll('.modal'));
            this.modalExpense = M.Modal.getInstance(document.getElementById('modal-expense'));
        }
    };
</script>
