<template>
    <div>
        <div class="col s12 m6 offset-m3 xl4 offset-xl4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Connexion</span>
                    <form @submit.prevent="submit">
                        <div class="row">
                            <div class="col s12">
                                <input-field name="email" type="email" label="Email" v-model="formData.email" :error="formErrors.email"></input-field>
                            </div>
                            <div class="col s12">
                                <input-field name="password" type="password" label="Mot de passe" v-model="formData.password" :error="formErrors.password"></input-field>
                            </div>
                        </div>
                        <button type="submit" class="btn waves-effect" :disabled="submitLoading"><i class="material-icons right">input</i>Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from '@/components/InputField';

    export default {
        name: 'index',
        components: {InputField},
        data() {
            return {
                submitLoading: false,
                formData: {},
                formErrors: {}
            };
        },
        methods: {
            submit() {
                this.submitLoading = true;
                this.$api.post(`users/login.json`, this.formData).then((response) => {
                    this.submitLoading = false;
                    if (!response.data.error) {
                        this.$store.dispatch('login', response.data.access_token);
                        this.$store.dispatch('setUser', response.data.user);
                        if (response.data.message){
                            this.$event.$emit('notification', response.data.message);
                        }
                        this.$router.push({name: this.$store.getters.redirectRoute});
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                        if (response.data.errors) {
                            this.formErrors = response.data.errors;
                        } else {
                            this.formErrors = {};
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                    this.submitLoading = false;
                });
            }
        },
        created() {
            if (this.$store.getters.isAuth) {
                this.$router.push({name: 'index'});
            }
        }
    };
</script>
