<template>
    <div>
        <div v-if="loading" class="col s12 center mt-40">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!loading" class="col s12 mt-20">
            <div class="row">
                <div class="col m4 center">
                    <img :src="formProfileData.image" class="circle responsive-img">
                </div>
                <div class="col m8">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Profil</span>
                            <form @submit.prevent="submitProfile">
                                <div class="row">
                                    <div class="col s12">
                                        <input-field name="email" type="email" label="Email" v-model="formProfileData.email" :error="formProfileErrors.email"></input-field>
                                    </div>
                                    <div class="col s12">
                                        <input-field name="name" type="text" label="Nom" v-model="formProfileData.name" :error="formProfileErrors.name"></input-field>
                                    </div>
                                </div>
                                <button type="submit" class="btn waves-effect" :disabled="submitProfilLoading">Valider</button>
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Mot de passe</span>
                            <form @submit.prevent="submitPassword">
                                <div class="row">
                                    <div class="col s12">
                                        <input-field name="password" type="password" label="Mot de passe" v-model="formPasswordData.password" :error="formPasswordErrors.password"></input-field>
                                    </div>
                                    <div class="col s12">
                                        <input-field name="password2" type="password" label="Confirmer le mot de passe" v-model="formPasswordData.password2" :error="formPasswordErrors.password2"></input-field>
                                    </div>
                                </div>
                                <button type="submit" class="btn waves-effect" :disabled="submitPasswordLoading">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from '@/components/InputField';

    export default {
        name: 'index',
        components: {InputField},
        data() {
            return {
                loading: true,
                formProfileData: {},
                formPasswordData: {},
                formProfileErrors: {},
                formPasswordErrors: {},
                submitProfilLoading: false,
                submitPasswordLoading: false
            };
        },
        methods: {
            submitProfile() {
                this.submitProfilLoading = true;
                this.$api.patch(`users/me.json`, this.formProfileData).then((response) => {
                    this.submitProfilLoading = false;
                    if (!response.data.error) {
                        this.formProfileErrors = {};
                        this.$store.dispatch('setUser', response.data.user);
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message);
                        }
                        this.$store.dispatch('updateUsers');
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                        if (response.data.errors) {
                            this.formProfileErrors = response.data.errors;
                        } else {
                            this.formProfileErrors = {};
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                    this.submitProfilLoading = false;
                });
            },
            submitPassword() {
                this.submitPasswordLoading = true;
                this.$api.patch(`users/password.json`, this.formPasswordData).then((response) => {
                    this.submitPasswordLoading = false;
                    if (!response.data.error) {
                        this.formPasswordErrors = {};
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message);
                        }
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                        if (response.data.errors) {
                            this.formPasswordErrors = response.data.errors;
                        } else {
                            this.formPasswordErrors = {};
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                    this.submitProfilLoading = false;
                });
            }
        },
        created() {
            this.$api.get('users/me.json').then((response) => {
                if (!response.data.error) {
                    this.$store.dispatch('setUser', response.data.user);
                    this.formProfileData = response.data.user;
                    this.loading = false;
                } else {
                    if (response.data.message) {
                        this.$event.$emit('notification', response.data.message, 'error');
                    }
                }
            }).catch((err) => {
                this.$event.$emit('notification', err.toString(), 'error');
            });
        }
    };
</script>
