<template>
    <div>
        <div v-if="loading" class="col s12 center mt-40">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!loading" class="col s12 m6 offset-m3 xl4 offset-xl4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Inscription</span>
                    <form @submit.prevent="submit">
                        <div class="row">
                            <div class="col s12">
                                <input-field name="email" type="email" label="Email" v-model="formData.email" :error="formErrors.email"></input-field>
                            </div>
                            <div class="col s12">
                                <input-field name="name" type="text" label="Nom" v-model="formData.name" :error="formErrors.name"></input-field>
                            </div>
                            <div class="col s12">
                                <input-field name="password" type="password" label="Mot de passe" v-model="formData.password" :error="formErrors.password"></input-field>
                            </div>
                            <div class="col s12">
                                <input-field name="password2" type="password" label="Confirmer le mot de passe" v-model="formData.password2" :error="formErrors.password2"></input-field>
                            </div>
                        </div>
                        <button type="submit" class="btn waves-effect" :disabled="submitLoading"><i class="material-icons right">input</i>Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from '@/components/InputField';

    export default {
        name: 'index',
        components: {InputField},
        data() {
            return {
                loading: true,
                submitLoading: false,
                token: this.$route.query.token,
                formData: {},
                formErrors: {}
            };
        },
        methods: {
            submit() {
                this.submitLoading = true;
                this.formData.token = this.token;
                this.$api.patch(`users/register.json`, this.formData).then((response) => {
                    this.submitLoading = false;
                    if (!response.data.error) {
                        this.$store.dispatch('login', response.data.access_token);
                        this.$store.dispatch('setUser', response.data.user);
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message);
                        }
                        this.$router.push({name: this.$store.getters.redirectRoute});
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                        if (response.data.errors) {
                            this.formErrors = response.data.errors;
                        } else {
                            this.formErrors = {};
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                    this.submitLoading = false;
                });
            }
        },
        created() {
            if (!this.$store.getters.isAuth && this.token !== undefined) {
                this.$api.get(`users/register.json`, {params: {token: this.token}}).then((response) => {
                    if (!response.data.error) {
                        this.formData = response.data.user;
                        this.loading = false;
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                });
            } else {
                this.$router.push({name: 'index'});
            }
        }
    };
</script>
