<template>
    <div v-if="['text', 'email', 'password', 'number', 'select'].includes(type)" class="input-field">
        <i v-if="icon" class="material-icons prefix">{{ icon }}</i>
        <input v-if="['text', 'email', 'password'].includes(type)" :id="name" :name="name" :type="type" :disabled="disabled" :class="{'invalid': !!error}" v-model="val">
        <input v-if="['number'].includes(type)" :id="name" :name="name" :type="type" :disabled="disabled" :class="{'invalid': !!error}" :min="min" :max="max" :step="step" v-model="val">
        <select v-if="type === 'select'" :id="name" :name="name" :disabled="disabled" :class="{'invalid': !!error}" v-model="val">
            <option v-for="(o, k) in options" :value="k">{{ o }}</option>
        </select>
        <label :class="{'active': !!value && type !== 'select'}" :for="name">{{ label }}</label>
        <span v-if="(!!helper || !!error)" class="helper-text" :data-error="error">{{ helper }}</span>
    </div>
</template>

<script>
    export default {
        props: {
            value: null,
            name: String,
            label: String,
            type: {
                type: String,
                default: 'text'
            },
            icon: String,
            helper: String,
            error: String,
            disabled: Boolean,
            min: String,
            max: String,
            step: String,
            options: Object
        },
        data() {
            return {
                c: this.cls ? this.cls : '',
                val: this.value
            };
        },
        watch: {
            value(value) {
                this.val = value;
            },
            val(value) {
                this.$emit('input', value);
            }
        },
        updated() {
            if (this.type === 'select') {
                M.FormSelect.init(document.querySelectorAll(`[name="${this.name}"]`));
            }
        }
    };
</script>
