<template></template>

<script>
    export default {
        methods: {
            show(message, type = 'default') {
                let classes = '';
                switch (type) {
                    case 'success':
                        classes = 'green darken-1';
                        break;
                    case 'error':
                        classes = 'red darken-1';
                        break;
                }

                M.toast({
                    html: message,
                    classes: classes
                });
            }
        },
        mounted() {
            this.$event.$on('notification', this.show);
        },
        beforeDestroy() {
            this.$event.$off('notification');
        }
    };
</script>
