<template>
    <ul id="left-drawer" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="@/assets/img/user-bg.jpg">
                </div>
                <router-link :to="{name: 'profile'}"><img class="circle" :src="$store.getters.user.image"></router-link>
                <router-link :to="{name: 'profile'}"><span class="white-text name">{{ $store.getters.user.name }}</span></router-link>
                <router-link :to="{name: 'profile'}"><span class="white-text email">{{ $store.getters.user.email }}</span></router-link>
            </div>
        </li>
        <li>
            <router-link :to="{name: 'index'}" class="waves-effect"><i class="material-icons">equalizer</i>Dépenses</router-link>
        </li>
        <li>
            <router-link :to="{name: 'users:index'}" class="waves-effect"><i class="material-icons">people</i>Utilisateurs</router-link>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li v-for="user in $store.getters.users" :key="user.id">
            <a href="javascript:void(0)">
                <span>{{ user.name }}</span>
                <span class="right" :class="user.amount < 0 ? 'red-text' : 'green-text'">{{ user.amount_display }}</span>
            </a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="javascript:void(0)" class="waves-effect" @click.prevent="logout"><i class="material-icons">power_settings_new</i>Déconnexion</a>
        </li>
    </ul>
</template>

<script>
    export default {
        methods: {
            logout() {
                this.$store.dispatch('logout');
                this.$router.push({name: 'login'});
            }
        },
        mounted() {
            M.Sidenav.init(document.querySelectorAll('.sidenav'));
        }
    };
</script>
