<template>
    <div id="app">
        <notify></notify>

        <sidenav v-if="isAuth"></sidenav>

        <div class="row" :class="{'wrapper': isAuth}">
            <header>
                <div class="navbar-fixed">
                    <nav>
                        <div class="nav-wrapper">
                            <div class="col s12">
                                <router-link :to="{name: 'index'}" class="brand-logo">homeXpenses</router-link>
                                <a v-if="isAuth" href="#" data-target="left-drawer" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <main>
                <router-view/>
            </main>
        </div>
    </div>
</template>

<script>
    import Notify from './components/Notify';
    import Sidenav from './components/Sidenav';

    export default {
        name: 'app',
        components: {Notify, Sidenav},
        computed: {
            isAuth() {
                return this.$store.getters.isAuth;
            }
        },
        created() {
            this.$api.interceptors.response.use((response) => {
                return response;
            }, (error) => {
                if (error.response) {
                    if (error.response.status === 401) {
                        this.$store.dispatch('logout');
                        this.$router.go();
                    }
                }

                return Promise.reject(error);
            });

            if (this.isAuth && !this.$store.getters.user.id) {
                this.$api.get('users/me.json').then((response) => {
                    if (!response.data.error) {
                        this.$store.dispatch('setUser', response.data.user);
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                });
            }
        }
    };
</script>

<style lang="scss" src="./app.scss"></style>
