@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "~materialize-css/sass/components/color-variables";

$primary-color: color("teal", "lighten-2") !default;

@import "~materialize-css/sass/materialize";

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.wrapper {
    padding-left: 300px;
}

.pointer {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        padding-left: 0;
    }
}
