<template>
    <div>
        <div id="modal-edit" class="modal">
            <form @submit.prevent="submit">
                <div class="modal-content">
                    <h4>{{ editUser.name }}</h4>
                    <div class="row">
                        <div class="col s12">
                            <input-field name="email" type="email" label="Email" v-model="editUser.email" :error="editUserErrors.email"></input-field>
                        </div>
                        <div class="col s12">
                            <input-field name="name" type="text" label="Nom" v-model="editUser.name" :error="editUserErrors.name"></input-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-close waves-effect waves-red btn-flat" type="button">Annuler</button>
                    <button class="waves-effect btn" type="submit" :disabled="submitLoading">Sauvegarder</button>
                    <button v-if="editUser.id && editUser.id !== $store.getters.user.id" class="modal-close waves-effect waves-red btn-flat left red-text" type="button" @click.prevent="deleteUser(editUser.id)"><i class="material-icons">delete</i></button>
                </div>
            </form>
        </div>

        <div v-if="loading" class="col s12 center mt-40">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!loading" class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="user in $store.getters.users" :key="user.id" class="pointer" @click.prevent="openModalEdit(user.id)">
                        <td>{{ user.name }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large" @click.prevent="openModalEdit()">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from '@/components/InputField';

    export default {
        name: 'index',
        components: {InputField},
        data() {
            return {
                loading: true,
                modalEdit: undefined,
                editUser: {},
                editUserErrors: {},
                submitLoading: false
            };
        },
        methods: {
            openModalEdit(userId = null) {
                this.editUserErrors = {};
                this.editUser = {};
                if (userId) {
                    let user = this.$store.getters.users.find(u => u.id === userId);
                    if (user !== undefined) {
                        this.editUser = {...user};
                    }
                }
                this.modalEdit.open();
            },
            submit() {
                this.submitLoading = true;
                if (this.editUser.id !== undefined) {
                    this.$api.patch(`users/${this.editUser.id}.json`, this.editUser).then(this.submitSuccess).catch(this.submitError);
                } else {
                    this.$api.post(`users.json`, this.editUser).then(this.submitSuccess).catch(this.submitError);
                }
            },
            submitSuccess(response) {
                this.submitLoading = false;
                if (!response.data.error) {
                    this.modalEdit.close();
                    this.$store.dispatch('updateUsers');
                } else {
                    if (response.data.message) {
                        this.$event.$emit('notification', response.data.message, 'error');
                    }
                    if (response.data.errors) {
                        this.editUserErrors = response.data.errors;
                    } else {
                        this.editUserErrors = {};
                    }
                }
            },
            submitError(err) {
                this.$event.$emit('notification', err.toString(), 'error');
                this.submitLoading = false;
            },
            deleteUser(userId) {
                this.$api.delete(`users/${userId}.json`).then((response) => {
                    if (!response.data.error) {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message);
                        }
                        this.$store.dispatch('updateUsers');
                        this.modalEdit.close();
                    } else {
                        if (response.data.message) {
                            this.$event.$emit('notification', response.data.message, 'error');
                        }
                    }
                }).catch((err) => {
                    this.$event.$emit('notification', err.toString(), 'error');
                });
            }
        },
        created() {
            this.loading = false;
        },
        mounted() {
            M.FloatingActionButton.init(document.querySelectorAll('.fixed-action-btn'));
            M.Modal.init(document.querySelectorAll('.modal'));
            this.modalEdit = M.Modal.getInstance(document.getElementById('modal-edit'));
        }
    };
</script>
